/* Misc */
:root {
    --yellow: #ffd52e;
    --grey: #c0c2c1;
    --black: #070708;
    --white: #ffffff;
}


body {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

.container {
    display: grid;
    height: 1000px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    overflow-y: initial;
}

/* Navbar */

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    z-index: 2;
}

.line {
    background-color: #fff;
    height: 3px;
    width: 100%;
    z-index: 1;
}


.menu li {
    list-style-type: none;
    margin-bottom: 15px;
}

.menu li a {
    display: flex;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.open {
    left: 0;
    transform: translateX(0%);
}

.logo {
    padding-left: 100px;
}


.searchbar {
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-items: start;
    border-radius: 60px;
    padding: 2px 120px 0px 5px;
}

.searchbar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 8px 5px;
    font-size: 15px;
    color: var(--white);
}

::placeholder {
    color: var(--white);
}

.searchbar button img {
    width: 25px;
}

.searchbar button {
    position: relative;
    right: 10px;
    border: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: var(--yellow);
    cursor: pointer;
}

.cart-icon {
    height: 30px;
    width: 30px;
}

/* Banner */

.grey-plus {
    list-style: none;
    position: absolute;
    top: 12vh;
    row-gap: 5px;
    left: calc(100vw - 250px);
}

.grey-plus img {
    height: 100px;
    padding-top: 60px;
}


/* Contact us */

.contact-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.form-container {
    padding: 20px;
    grid-area: 1 / 1 / 3 / 2;
}

.form-container h3 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.contact-form {
    display: grid;
    row-gap: 1rem;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

/* classes forms validation */

.contact-form label {
    display: block;
    font-size: 100%;
    margin-bottom: -1%;
}

.contact-form input {
    padding: 10px;
    color: #333;
    margin-bottom: 4px;
}

input.invalid {
    border: 1px solid red;
}

.error-hint {
    color: red;
}

.hidden {
    display: none;
}

textarea.invalid {
    border: 1px solid red;
}

/* ///////////////////////////// */

.map {
    grid-area: 1 / 2 / 3 / 3;
}

.map iframe {
    width: 100%;
    height: 100%;
}

/* About Us */

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-container .card {
    width: 330px;
    height: 416px;
    padding: 60px 30px;
    margin: 20px;
    background: #f2f3f7;
    border-radius: 20px;
}

.about-container .card .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-container .card .content .imgBx {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.about-container .card .content .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-container .card .content .contentBx h4 {
    color: #36187d;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.about-container .card .content .contentBx h5 {
    color: #6c758f;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.about-container .card .content .sci {
    margin-top: 20px;
}

.about-container .card .content .sci a {
    text-decoration: none;
    color: #6c758f;
    font-size: 30px;
    margin: 10px;
    transition: color 0.4s;
}

.about-container .card .content .sci a:hover {
    color: #fcff54;
}

/* Media Queries */

/* Mobile */

@media (min-width: 300px) {
    .navbar {
        grid-area: 1 / 1 / -7 / 7;
        height: 120px;
        display: flex;
        align-items: center;
    }

    .navbar .hamburger {
        position: fixed;
        left: 30px;
    }

    .horizontal-nav {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;
    }

    .horizontal-nav .searchbar {
        width: 100px;
    }

    .menu {
        position: fixed;
        top: -15px;
        left: -250px;
        width: 100vw;
        height: 100vh;
        background-color: #a74e4e;
        padding-top: 200px;
        transition: left 0.3s ease-in-out;
        transform: translateX(-100%);
        z-index: 1;
    }

    .menu li {
        list-style-type: none;
        margin-bottom: 15px;
    }

    .menu li a {
        display: flex;
        color: #fff;
        text-decoration: none;
        font-size: 28px;
        padding-right: calc(100vw - 50vw);
    }

    .open {
        left: 0;
        transform: translateX(0%);
    }

    .logo {
        position: relative;
        right: calc(50% - (50% / 2));
    }

    .banner {
        grid-area: 1 / 1 / 3 / 7;
        height: 100px;
        padding-left: 20px;
    }

    .about-us {
        grid-area: 3 / 1 / auto / 7;
    }

    .contact {
        grid-area: 4 / 1 / auto / 7;
        height: 200vh;
    }

    /* contact query  */

    .contact-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
    }

    .form-container {
        height: 95vh;
        padding: 10px;
        width: 600px;
    }

    .form-container h3 {
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
    }

    .map iframe {
        width: 100vw;
        height: 100vh;
    }
}

@media (min-width: 700px) {

    .navbar {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        column-gap: calc((100% - 300px) / 2);
    }

    .horizontal-nav {
        gap: 10%;
    }
}

@media (min-width: 900px) {
    .navbar {
        grid-area: 1 / 1 / -7 / 7;
        height: 60px;
        z-index: 1;
    }

    .horizontal-nav {
        gap: 20%;
        position: relative;
        bottom: 14px;
        z-index: 1;
    }

    .menu {
        position: fixed;
        top: -15px;
        left: -250px;
        width: 255px;
        height: 100vh;
        background-color: #a74e4e;
        padding-top: 200px;
        transition: left 0.3s ease-in-out;
        transform: translateX(-100%);
        z-index: 1;
    }

    .menu li a {
        display: flex;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding-right: 0;
    }

    .open {
        left: 0;
        transform: translateX(0%);
    }

    .banner {
        position: relative;
        bottom: 60px;
        height: 100vh;
        padding-left: 20px;
        background-image: url("../photos/landscape/black-bg.jpg");
        background-size: cover;
        position: relative;
    }


    .banner h1 {
        color: rgb(86, 86, 25);
        position: absolute;
        bottom: -350px;
        padding-left: 10%;
        font-family: 'Courier New', Courier, monospace;
        font-size: 600px;
        font-weight: lighter;
    }

    .key-words {
        display: flex;
        position: absolute;
        top: 30vh;
        padding-left: 2.5%;
        gap: 100px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 35px;
        color: var(--white);
        z-index: 1;
    }

    .banner-text {
        position: absolute;
        font-family: 'Courier New', Courier, monospace;
        color: var(--white);
        width: 50vw;
        left: 2.5%;
        font-size: 30px;
        top: 40vh;
        z-index: 1;
    }


    .banner button {
        position: absolute;
        top: 65vh;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        background-color: transparent;
        border-color: var(--white);
        border-style: solid;
        color: var(--white);
        left: 2.5%;
        padding: 6px 4px 6px 4px;
    }

    .banner button:hover {
        cursor: pointer;
        color: var(--yellow);
        border-color: var(--yellow);
        padding: 10px 8px 10px 8px;
        transition: ease 0.2s;
    }

    .yellow-jacket {
        position: absolute;
        left: 50vw;
        height: 100vh;
    }

    .banner .banner-effect {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        background-image: linear-gradient(transparent, var(--black));
    }

     /* About us  */

    .about-us {
        position: relative;
        background-image: url(../photos/landscape/white-bg.png);
        
    }

    .about-us h1 {
        position: absolute;
        left: 50vw;
    }

    .about-us h3 {
        padding-top: 15vh;
    }

    .about-text {
        position: absolute;
        left: 50vw;
        bottom: 90vh;
        font-size: 20px;
        right: 3%;
    }


    .yellow-frame {
        position: relative;
        border-radius: 200px;
        left: 50px;
        border-style: solid;
        border-width: 10px;
        border-color: var(--yellow);
        height: 400px;
        width: 400px;
    }

    .yellow-frame img {
        position: relative;
        left: 70px;
        top: 70px;
        border-style: solid;
        border-color: var(--white);
        border-width: 10px;
    }

    .contact {
        height: auto;
        padding: 10px;
    }

    .contact-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .form-container {
        padding: 20px;
    }

    .map iframe {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1800px) {

    .horizontal-nav {
        gap: 30%;
    }
}


/* Logo Animation */


.logo-fill {
    animation: fill 0.5s ease forwards 3.5s;

}

#Logo path:nth-child(5) {
    stroke-dasharray: 238px;
    stroke-dashoffset: 238px;
    animation: logo-ani 2s ease forwards 0.6s;
}

#Logo path:nth-child(6) {
    stroke-dasharray: 111px;
    stroke-dashoffset: 111px;
    animation: logo-ani 2s ease forwards 0.9s;

}

#Logo path:nth-child(7) {
    stroke-dasharray: 228px;
    stroke-dashoffset: 228px;
    animation: logo-ani 2s ease forwards 1.2s;

}

#Logo path:nth-child(8) {
    stroke-dasharray: 228px;
    stroke-dashoffset: 228px;
    animation: logo-ani 2s ease forwards 1.8s;

}

#Logo path:nth-child(9) {
    stroke-dasharray: 111px;
    stroke-dashoffset: 111px;
    animation: logo-ani 2s ease forwards 2.1s;

}

@keyframes logo-ani {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }

    to {
        fill: black;
    }
}