:root
{
    --yellow: #ffd52e;
    --grey: #c0c2c1;
    --black: #070708;
    --white: #ffffff; 
}

html, body
{
    margin: 0;
    padding: 0;
    background-image: url("..\photos\landscape\gallery-bg.jpg");
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;

}
.colours
{
    --text-color: black;
    --box-color: rgb(0, 150, 187);
}

@media only screen and (max-width: 768px)
{
    .highlights-title-class
    {
        display: flex;
        justify-content: center;
    }

    .highlights-container-class
    {
        width: 95%;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    /* GRID */


    .highlights-div-class
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        height: calc(100vh - 152px); /* Ajuste para o conteudo ocupar a imagem todaa contar com navbar*/
        margin-top: 15px;
        overflow-y: auto; /* REVER O QUE FAZ */
    }

    .highlight1-class
    {
        gap: 10px;
        width: 100%;
        height: auto;
        /* background-color: aqua; */
        background-image: url("https://images.unsplash.com/photo-1688202408403-b0053d377d37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80");
        background-size: cover;
        background-position: center;
    }

    .highlight2-class
    {
        gap: 10px;
        width: 100%;
        height: auto;
        /* background-color: aqua; */
        background-image: url("https://images.unsplash.com/photo-1688202408403-b0053d377d37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80");
        background-size: cover;
        background-position: center;
    }

    .highlight3-class
    {
        gap: 10px;
        width: 100%;
        height: auto;
        /* background-color: aqua; */
        background-image: url("https://images.unsplash.com/photo-1688202408403-b0053d377d37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80");
        background-size: cover;
        background-position: center;
    }

    .highlight4-class
    {
        gap: 10px;
        width: 100%;
        height: auto;
        /* background-color: aqua; */
        background-image: url("https://images.unsplash.com/photo-1688202408403-b0053d377d37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80");
        background-size: cover;
        background-position: center;
    }
    .highlight5-class
    {
        display: none;
    }
    .articles-title-class
    {
        display: flex;
        justify-content: center;
    }

    .articles-container-class
    {
        width: 95%;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    
    .articles-div-class {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        margin-top: 15px;
        overflow-y: auto; /* Adicione esta linha */
    }

    /* PARA O JS FUCNIONAR */
    .article-class 
    {
        gap: 10px;
        width: 100%;
        min-height: calc((100vh - 58px) / 3); /* Ajuste para o conteudo ocupar a imagem toda*/
        /* background-color: aqua; */
        background-image: url("https://images.unsplash.com/photo-1688202408403-b0053d377d37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80");
        background-size: cover;
        background-position: center;
    }

    .article1-class 
    {
        gap: 10px;
        width: 100%;
        height: auto;
        /* background-color: aqua; */
        background-image: url("https://images.unsplash.com/photo-1688202408403-b0053d377d37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80");
        background-size: cover;
        background-position: center;
    }

    .article2-class 
    {
        gap: 10px;
        width: 100%;
        height: auto;
        /* background-color: aqua; */
        background-image: url("https://images.unsplash.com/photo-1688202408403-b0053d377d37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80");
        background-size: cover;
        background-position: center;
    }

    .article3-class 
    {
        gap: 10px;
        width: 100%;
        height: auto;
        /* background-color: aqua; */
        background-image: url("https://images.unsplash.com/photo-1688202408403-b0053d377d37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80");
        background-size: cover;
        background-position: center;
    }

    .article4-class 
    {
        gap: 10px;
        width: 100%;
        height: auto;
        /* background-color: aqua; */
        background-image: url("https://images.unsplash.com/photo-1688202408403-b0053d377d37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80");
        background-size: cover;
        background-position: center;
    }

    .article5-class 
    {
        display: none;
    }

    .article6-class 
    {
        display: none;
    }
}
    

@media only screen and (min-width: 769px)
{
    .highlights-title-class
    {
        display: flex;
        justify-content: center;
    }

    .highlights-container-class
    {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    /* GRID */
    .highlights-div-class
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        height: calc(100vh - 152px); /* Ajuste para o conteudo ocupar a imagem toda a   contar com navbar*/
        margin-top: 15px;
        overflow-y: auto; /* Rever o que faz*/
    }

    .highlight1-class
    {
        grid-area: 1 / 1 / 3 / 3;
        width: 100%;
        height: auto;
        /* background-color: aqua; */
        background-image: url("https://images.unsplash.com/photo-1688202408403-b0053d377d37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80");
        background-size: cover;
        background-position: center;
    }

    .highlight2-class
    {
        width: 100%;
        height: auto;
        /* background-color: aqua; */
        background-image: url("https://images.unsplash.com/photo-1688202408403-b0053d377d37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80");
        background-size: cover;
        background-position: center;
    }

    .highlight3-class
    {
        width: 100%;
        height: auto;
        /* background-color: aqua; */
        background-image: url("https://images.unsplash.com/photo-1688202408403-b0053d377d37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80");
        background-size: cover;
        background-position: center;
    }

    .highlight4-class
    {
        width: 100%;
        height: auto;
        /* background-color: aqua; */
        background-image: url("https://images.unsplash.com/photo-1688202408403-b0053d377d37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80");
        background-size: cover;
        background-position: center;
    }
    
    .highlight5-class
    {
        width: 100%;
        height: auto;
        /* background-color: aqua; */
        background-image: url("https://images.unsplash.com/photo-1688202408403-b0053d377d37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80");
        background-size: cover;
        background-position: center;
    }

    .highlight1-class:hover,
    .highlight2-class:hover,
    .highlight3-class:hover,
    .highlight4-class:hover,
    .highlight5-class:hover 
    {
    background-size: 101%;
    /* transition: background-size 5s ease; */
    }

    .articles-title-class
    {
        display: flex;
        justify-content: center;
    }

    .articles-container-class
    {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .articles-div-class 
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 100%;
        margin-top: 15px;
    }

    /* PARA O JS FUCNIONAR */
    .article-class 
    {
        gap: 10px;
        width: 100%;
        min-height: calc((100vh - 75px) / 2);
        background-image: url("https://images.unsplash.com/photo-1688202408403-b0053d377d37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80");
        background-size: cover;
        background-position: center;
    }
}

/* MODAL */
/* Sugestão de apresentação */
.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    margin: 5% auto;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close:hover{
    cursor: pointer;
}

.close {
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.star:hover{
    cursor: pointer;
}

.star{
    font-size: 20px;
}

.gray {
    opacity: 0.5;
}

.normal {
    opacity: 1;
}

.modal-end-container {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* SIDE PANEL */
  .side-panel {
      position: fixed;
      left: -250px;
      width: 250px;
      height: 100%;
      background-color: #333;
      color: #fff;
      transition: 0.3s;
  }
  
/* ----------------------------------------------------- */
/* NAV BAR */
.open {
    left: 0;
    transform: translateX(0%);
}

.item {
    border-style: solid;
    border-color: rgb(188, 65, 188);
    background-color: pink;
    border-width: 10px;
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    z-index: 2;
}

.line {
    background-color: #fff;
    height: 3px;
    width: 100%;
    z-index: 1;
}

.horizontal-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    gap: 400px;
}

.menu {
    position: fixed;
    top: -15px;
    left: -250px;
    width: 255px;
    height: 100vh;
    background-color: #a74e4e;
    padding-top: 200px;
    transition: left 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 1;
}

.menu li {
    list-style-type: none;
    margin-bottom: 15px;
}

.menu li a {
    display: flex;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

@media (min-width:300px) {

    .navbar {
        grid-area: 1 / 1 / -7 / 7;
        display: flex;
    }

    .navbar .hamburger {
        position: fixed;
        left: 30px;
        top: 30px
    }

    .horizontal-nav {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;
    }

    .horizontal-nav .searchbar {
        width: 100px;
    }

    .menu {
        position: fixed;
        top: -15px;
        left: -250px;
        width: 100vw;
        height: 100vh;
        background-color: #a74e4e;
        padding-top: 200px;
        transition: left 0.3s ease-in-out;
        transform: translateX(-100%);
        z-index: 1;
    }

    .menu li {
        list-style-type: none;
        margin-bottom: 15px;
    }

    .menu li a {
        display: flex;
        color: #fff;
        text-decoration: none;
        font-size: 28px;
        padding-right: calc(100vw - 50vw);
    }

    .open {
        left: 0;
        transform: translateX(0%);
    }

    .logo {
        position: relative;
        right: calc(50% - (50% / 2));
    }
}

@media (min-width:700px) {
      
    .navbar {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        column-gap: calc((100% - 300px) / 2);
    }

    .horizontal-nav {
        gap: 10%;
    }
}

@media (min-width: 900px) {
    .navbar {
        height: 60px;
    }

    .horizontal-nav {
        gap: 20%;
        position: relative;
        bottom: 14px;
    }

    .menu {
        position: fixed;
        top: -15px;
        left: -250px;
        width: 255px;
        height: 100vh;
        background-color: #a74e4e;
        padding-top: 200px;
        transition: left 0.3s ease-in-out;
        transform: translateX(-100%);
        z-index: 1;
    }

    .menu li a {
        display: flex;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding-right: 0;
    }

    .open {
        left: 0;
        transform: translateX(0%);
    }
}


/* Logo Animation */

.logo-fill {
    animation: fill 0.5s ease forwards 3.5s;

}

#Logo path:nth-child(5) {
    stroke-dasharray: 238px;
    stroke-dashoffset: 238px;
    animation: logo-ani 2s ease forwards 0.6s;
}

#Logo path:nth-child(6) {
    stroke-dasharray: 111px;
    stroke-dashoffset: 111px;
    animation: logo-ani 2s ease forwards 0.9s;

}

#Logo path:nth-child(7) {
    stroke-dasharray: 228px;
    stroke-dashoffset: 228px;
    animation: logo-ani 2s ease forwards 1.2s;

}

#Logo path:nth-child(8) {
    stroke-dasharray: 228px;
    stroke-dashoffset: 228px;
    animation: logo-ani 2s ease forwards 1.8s;

}

#Logo path:nth-child(9) {
    stroke-dasharray: 111px;
    stroke-dashoffset: 111px;
    animation: logo-ani 2s ease forwards 2.1s;

}

@keyframes logo-ani {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }

    to {
        fill: black;
    }
}