html
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
    background-image: url('../photos/imagesHero/imgHero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.colours
{
    --text-color: black;
    --box-color: rgb(0, 150, 187);
}

.logo {
    padding-left: 100px;
}

@media only screen and (max-width: 768px)
{
    body
    {
        background-image: url('../photos/imagesHero/imgHero.jpg');
    } 
    
    .container
    {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        box-shadow: none;
        border: none;
    }
    
    .logo-class
    {
        width: 25%;
        height: 50px;
        margin: 5px;
        background-color: aqua;
        padding: 1em;
        font-weight: 700;
        color: var(--box-color);
        justify-content: start;
        border-radius: 5px;
    }
    
    .searchbar-class
    {
        display: flex;
        align-items: center;
        width: 25%;
        height: 10px;
        margin: 5px;
        background-color: aqua;
        padding: 1em;
        font-weight: 700;
        color: var(--box-color);
        border-radius: 5px;
    }

    .searchinput-class 
    {
        border: none;
        border-radius: 4px;
        padding: 8px;
        width: 100%;
        height: 100%;
    }
    
    .cart-class
    {
        width: 5%;
        height: 10px;
        margin: 5px;
        background-color: aqua;
        padding: 1em;
        font-weight: 700;
        color: var(--box-color);
        border-radius: 5px;
    }

    .hamburger-class
    {
        padding: 1em;
    }

    .footerdesktop-class
    {
       display: none;
    }
    

    /* CLASSE DO SIDE PANEL - VASCO */
    .side-panel {
        position: fixed;
        left: -250px;
        width: 250px;
        height: 100%;
        background-color: #333;
        color: #fff;
        transition: 0.3s;
      }
}

@media only screen and (min-width: 769px)
{

    .container
    {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        box-shadow: none;
        border: none;
    }
    
    .logo-class
    {
        width: 25%;
        height: 50px;
        margin: 5px;
        background-color: aqua;
        padding: 1em;
        font-weight: 700;
        color: var(--box-color);
        justify-content: start;
        border-radius: 5px;
    }
    
    .searchbar-class
    {
        display: flex;
        align-items: center;
        width: 25%;
        height: 10px;
        margin: 5px;
        background-color: aqua;
        padding: 1em;
        font-weight: 700;
        color: var(--box-color);
        border-radius: 5px;
    }

    .searchinput-class 
    {
        border: none;
        border-radius: 4px;
        padding: 8px;
        width: 100%;
        height: 100%;
    }
    
    .cart-class
    {
        width: 5%;
        height: 10px;
        margin: 5px;
        background-color: aqua;
        padding: 1em;
        font-weight: 700;
        color: var(--box-color);
        border-radius: 5px;
    }

    .hamburger-class
    {
        padding: 1em;
    }

    .footerdesktop-class
    {
        position: fixed;
        display: flex;

        justify-content: flex-end;
        left: 0;
        bottom: 20px;
        width: 100%;
        height: 50px;
        align-items: center;
        background-color: aqua;
        box-shadow: none;
        border: none;
    }


    /* CLASSE DO SIDE PANEL - VASCO */
    .side-panel {
        position: fixed;
        left: -250px;
        width: 250px;
        height: 100%;
        background-color: #333;
        color: #fff;
        transition: 0.3s;
      }
}

.footer-class {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* você pode adicionar as propriedades adicionais que quiser, como background-color, padding, etc */
}

.footer-class div {
    display: flex;
    justify-content: center;
    gap: 10px; /* adiciona um espaço entre os links */
}

/* ----------------------------------------------------- */
/* NAV BAR */
.open {
    left: 0;
    transform: translateX(0%);
}

.item {
    border-style: solid;
    border-color: rgb(188, 65, 188);
    background-color: pink;
    border-width: 10px;
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    z-index: 2;
}

.line {
    background-color: #fff;
    height: 3px;
    width: 100%;
    z-index: 1;
}

.horizontal-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    gap: 400px;
}

.menu {
    position: fixed;
    top: -15px;
    left: -250px;
    width: 255px;
    height: 100vh;
    background-color: #a74e4e;
    padding-top: 200px;
    transition: left 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 1;
}

.menu li {
    list-style-type: none;
    margin-bottom: 15px;
}

.menu li a {
    display: flex;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

@media (min-width:300px) {
    .navbar {
        grid-area: 1 / 1 / -7 / 7;
        display: flex;
    }

    .navbar .hamburger {
        position: fixed;
        left: 30px;
        top: 30px
    }

    .horizontal-nav {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;
    }

    .horizontal-nav .searchbar {
        width: 100px;
    }

    .menu {
        position: fixed;
        top: -15px;
        left: -250px;
        width: 100vw;
        height: 100vh;
        background-color: #a74e4e;
        padding-top: 200px;
        transition: left 0.3s ease-in-out;
        transform: translateX(-100%);
        z-index: 1;
    }

    .menu li {
        list-style-type: none;
        margin-bottom: 15px;
    }

    .menu li a {
        display: flex;
        color: #fff;
        text-decoration: none;
        font-size: 28px;
        padding-right: calc(100vw - 50vw);
    }

    .open {
        left: 0;
        transform: translateX(0%);
    }

    .logo {
        position: relative;
        right: calc(50% - (50% / 2));
    }
}

@media (min-width:700px) {
 
    .navbar {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        column-gap: calc((100% - 300px) / 2);
    }

    .horizontal-nav {
        gap: 10%;
    }

}

@media (min-width: 900px) {
    .navbar {
        height: 60px;
    }

    .horizontal-nav {
        gap: 20%;
        position: relative;
        bottom: 14px;
    }

    .menu {
        position: fixed;
        top: -15px;
        left: -250px;
        width: 255px;
        height: 100vh;
        background-color: #a74e4e;
        padding-top: 200px;
        transition: left 0.3s ease-in-out;
        transform: translateX(-100%);
        z-index: 1;
    }

    .menu li a {
        display: flex;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding-right: 0;
    }

    .open {
        left: 0;
        transform: translateX(0%);
    }
}



.logo-fill {
    animation: fill 0.5s ease forwards 3.5s;

}

#Logo path:nth-child(5) {
    stroke-dasharray: 238px;
    stroke-dashoffset: 238px;
    animation: logo-ani 2s ease forwards 0.6s;
}

#Logo path:nth-child(6) {
    stroke-dasharray: 111px;
    stroke-dashoffset: 111px;
    animation: logo-ani 2s ease forwards 0.9s;

}

#Logo path:nth-child(7) {
    stroke-dasharray: 228px;
    stroke-dashoffset: 228px;
    animation: logo-ani 2s ease forwards 1.2s;

}

#Logo path:nth-child(8) {
    stroke-dasharray: 228px;
    stroke-dashoffset: 228px;
    animation: logo-ani 2s ease forwards 1.8s;

}

#Logo path:nth-child(9) {
    stroke-dasharray: 111px;
    stroke-dashoffset: 111px;
    animation: logo-ani 2s ease forwards 2.1s;

}

@keyframes logo-ani {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }

    to {
        fill: black;
    }
}