html
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
    background-image: url('../photos/heroHorizontal.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.colours
{
    --text-color: black;
    --box-color: rgb(0, 150, 187);
}

@media only screen and (max-width: 768px)
{
    body
    {
        background-image: url('../photos/heroVertical.jpg');
    } 
    
    .container
    {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        box-shadow: none;
        border: none;
    }
    
    .logo-class
    {
        width: 25%;
        height: 50px;
        margin: 5px;
        background-color: aqua;
        padding: 1em;
        font-weight: 700;
        color: var(--box-color);
        justify-content: start;
        border-radius: 5px;
    }
    
    .searchbar-class
    {
        display: flex;
        align-items: center;
        width: 25%;
        height: 10px;
        margin: 5px;
        background-color: aqua;
        padding: 1em;
        font-weight: 700;
        color: var(--box-color);
        border-radius: 5px;
    }

    .searchinput-class 
    {
        border: none;
        border-radius: 4px;
        padding: 8px;
        width: 100%;
        height: 100%;
    }
    
    .cart-class
    {
        width: 5%;
        height: 10px;
        margin: 5px;
        background-color: aqua;
        padding: 1em;
        font-weight: 700;
        color: var(--box-color);
        border-radius: 5px;
    }

    .hamburger-class
    {
        padding: 1em;
    }

    .footerdesktop-class
    {
       display: none;
    }
    

    /* CLASSE DO SIDE PANEL - VASCO */
    .side-panel {
        position: fixed;
        left: -250px;
        width: 250px;
        height: 100%;
        background-color: #333;
        color: #fff;
        transition: 0.3s;
      }
}

@media only screen and (min-width: 769px)
{

    .container
    {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        box-shadow: none;
        border: none;
    }
    
    .logo-class
    {
        width: 25%;
        height: 50px;
        margin: 5px;
        background-color: aqua;
        padding: 1em;
        font-weight: 700;
        color: var(--box-color);
        justify-content: start;
        border-radius: 5px;
    }
    
    .searchbar-class
    {
        display: flex;
        align-items: center;
        width: 25%;
        height: 10px;
        margin: 5px;
        background-color: aqua;
        padding: 1em;
        font-weight: 700;
        color: var(--box-color);
        border-radius: 5px;
    }

    .searchinput-class 
    {
        border: none;
        border-radius: 4px;
        padding: 8px;
        width: 100%;
        height: 100%;
    }
    
    .cart-class
    {
        width: 5%;
        height: 10px;
        margin: 5px;
        background-color: aqua;
        padding: 1em;
        font-weight: 700;
        color: var(--box-color);
        border-radius: 5px;
    }

    .hamburger-class
    {
        padding: 1em;
    }

    .footerdesktop-class
    {
        position: fixed;
        display: flex;

        justify-content: flex-end;
        left: 0;
        bottom: 20px;
        width: 100%;
        height: 50px;
        align-items: center;
        background-color: aqua;
        box-shadow: none;
        border: none;
    }


    /* CLASSE DO SIDE PANEL - VASCO */
    .side-panel {
        position: fixed;
        left: -250px;
        width: 250px;
        height: 100%;
        background-color: #333;
        color: #fff;
        transition: 0.3s;
      }
}

.footer-class {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* você pode adicionar as propriedades adicionais que quiser, como background-color, padding, etc */
}

.footer-class div {
    display: flex;
    justify-content: center;
    gap: 10px; /* adiciona um espaço entre os links */
}