/* MODAL */
/* Sugestão de apresentação */
.modal {
    /* ESTA PROP ESTÁ COMENTADA MAS FAZ PARTE DA MECÂNICA DO MODAL */
    /* display: none; */
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-image: url('../IMG-PHOTOS/heroVertical.jpg');
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    margin: 5% auto;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close:hover{
    cursor: pointer;
}

.close {
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.star:hover{
    cursor: pointer;
}

.star{
    font-size: 20px;
}

.gray {
    opacity: 0.5;
}

.normal {
    opacity: 1;
}

.modal-end-container {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}